.tabs {
    display: flex;
    flex-wrap: wrap;
  }
  
  .tabs label {
    order: 1;
    display: block;
    padding: 1rem 2rem;
    cursor: pointer;
    background:  #182eac;
    font-weight: bold;
    color:#fff;
  }
  
  .tabs label:hover{
    background-color: rgb(1, 0, 41);
  } 

  .tabs .tab {
    order: 99;
    flex-grow: 1;
    width: 100%;
    display: none;
    padding: 1rem;
    background: #333;
  }
  
  .tabs input[type="radio"] {
    display: none;
  }
  
  .tabs input[type="radio"]:checked + label {
    background: #333;
    color:rgb(255, 255, 255);
  }
  
  .tabs input[type="radio"]:checked + label + .tab {
    display: block;
  }
  
  @media (max-width: 90em) {
    .tabs .tab,
    .tabs label {
      order: initial;
    }
  
    .tabs label {
      width: 100%;
      margin-right: 0;
      margin-top: 0.2rem;
    }
  }
  
  body {
    background: #333;
    box-sizing: border-box;
    font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
    font-weight: 300;
    line-height: 1.5;
    margin: 0 auto;
    font-size: 112%;
    color: #fff;
  }

  .responsive {
    max-height: 90vh;
    width: 30vh;
  }

  .aligned {
    display: flex;
}
  
span {
    padding: 10px;
}
/* https://motopor1111.github.io/cv_luis_Eric_sanchez_Ruiz */
